node { 
    text-alignment: under; 
    text-color: black; 
    text-style: bold; 
    text-background-mode: rounded-box;
    text-background-color: #EEE; 
    text-padding: 2px; 
    text-offset: 0px, 2px;
    text-size: 14;
    padding: 2px;
    /*fill-color: rgb(255,135,0);*/
    fill-color: rgb(0,0,255);
}
edge { 
    shape: freeplane;
    arrow-shape: arrow;
    size: 4px;
    fill-color: rgb(0,0,0);
    arrow-size: 12px, 6px;
}
graph { 
    padding: 50px;
}